---
import type { CollectionTypes } from '@content/content.types'
import { getEntry } from 'astro:content'
import Snippet from '../snippet/snippet.astro'
import { cn } from '@core/lib/utils'
import Fallback from './fallback.astro'

type Props = {
    className?: string
    collection: CollectionTypes
    slug: string
    lang?: string
}

const {
    className,
    collection, 
    slug,
    lang="typescript", 
} = Astro.props

const page = await getEntry(collection, slug);

---
<div class={cn("w-full h-fit", className)}>
    
    <section class="flex flex-col gap-16">
    { page ?
        <>
            <div class="flex flex-col gap-2">
                <h1 class="text-3xl font-medium">{page.data.title}</h1>
                <h3 class="text-3xl font-light">{page.data.description}</h3>
            </div> 
            <div class="flex flex-col gap-2">
                {page.data.content.map(block => {
                switch (block.type) {
                    case 'header':
                        return <h1 class="text-xl font-medium">{block.value}</h1>;
                    case 'description':
                        return <p class="text-base w-3/4 text-gray-600">{block.value}</p>;
                    case 'code':
                        return <Snippet filename={block.filename} lang={block.lang} code={block.value} className='my-4 mb-16' />
                    default:
                        return null;
                }}
            )}
            </div>
        </>     
        :
        <>
            <Fallback/>
        </>
    }
</div>
