---
import type { CollectionTypes } from '@content/content.types'
import { getEntry } from 'astro:content'
import Snippet from '../snippet/snippet.astro'

type Props = {
    collection: CollectionTypes
    slug: string
    lang?: string,
}

const {
    collection, 
    slug,
    lang="typescript", 
} = Astro.props

const page = await getEntry(collection, slug);

if(!page) throw new Error("Collection is undefined")
---
<div>
    <h1>{page.data.title}</h1>
    {page.data.content.map(block => {
        switch (block.type) {
            case 'header':
                return <h2 class="text-xl">{block.value}</h2>;
            case 'description':
                return <p class="text-base leading-5">{block.value}</p>;
            case 'code':
                return <Snippet lang={lang} code={block.value} className='m-8'/>
            default:
                return null;
        }}
    )}
</div>

<style>

</style>